#-----------------------------------------------
# Copy this file to jetstream.env and copy the
# three settings below from your openrc file 
# according to README
#-----------------------------------------------

OS_AUTH_URL=???
OS_APPLICATION_CREDENTIAL_ID=???
OS_APPLICATION_CREDENTIAL_SECRET=???

#-----------------------------------------------
# You don't need to worry about the following
#-----------------------------------------------

OS_AUTH_TYPE=v3applicationcredential
OS_IDENTITY_API_VERSION=3
OS_REGION_NAME="IU"
OS_INTERFACE=public
